{% load avatar_tags %}
<div class="span12" style="margin-bottom:3px;">
<span class="label 
	{% if member.membership_type == 0 %} 
	label-info
	{% elif member.membership_type == 1 %}
	label-success
	{% elif member.membership_type == 2 %}
	label-inverse
	{% elif member.membership_type == 3 %}
	label-important
	{% endif %}
	">

	<strong>{{ member.get_membership_type_display }}</strong><br><br>
	<small>{{member.date_created}}</small>
</span>
	{% avatar member.user 20 %}
	<strong>{{ member.user.first_name }}</strong>
	{{ member.user.last_name }}
	<small>({{ member.user.username }})</small>
</div>

